<%- include ../partials/_header %>

<body class="no-background">
  <%- include ../partials/_navbar %>
  <div class="index__main-title">
    <div class="index__main-title_text">
      BATJOR
    </div>
    <div class="index__main-title_description">
      Best place to share ideas along the world
    </div>
  </div> 

  <div class="index__features">
    <div class="index__features-card">
      <div class="index__features-card_title">
        
      </div>
      <div class="index__features-card_image">

      </div>
      <div class="index__features-card_description">
        
      </div>
    </div>
  </div>
</body>


<head>
  <script>
    $( document ).ready(function() {
      var scene = $('#scene').get(0);
      var parallaxInstance = new Parallax(scene);
    });
  </script>
</head>