<%- include ../partials/_header %>

<div class="form-login_area">
    <div class="form-area_login-signup">
        <h2 class="text-batjor">Welcome</h2>
        <form action="" method="POST">
            <input class="uk-input" type="text" name="username" placeholder="Name" required />
            <input class="uk-input" type="password" name="password" placeholder="Password" required />
            <button class="uk-button uk-button-primary" type="submit">Login</button>
        </form>
    </div>
</div>
<%- include ../partials/_footer %>