h1 {
    text-align: center;
    color: #cccccc !important;
}
h2 {
    color: #ffffff !important;
    font-family: 'Segoe UI';
    font-weight: bold;
    margin-bottom: 50px;
}
.form-area {
    width: 100%;
    height: 100vh;
}

.form-area_login-signup {
    background-color: rgba(0,0,0, .3);
    padding: 10%;
    text-align: center;
    border-radius: 15px;
}

.uk-button {
    margin-top: 30px !important;
    background-color: #0f0f0f !important;
    color: #e2e2e2 !important;
    font-weight: bold !important;
    width: 400px;
    height: 50px;
}
select {
    background-color: #0f0f0f;
}
option {
    color:#ffffff;
    font-weight: bold;
}
.uk-input {
    background-color: rgba(255,255,255, .0) !important;
    color: #ffffff !important;
    margin-top: 15px !important;
    text-align: center !important;
}
::placeholder {
    color: #cccccc !important;
    text-align: center;
}

.form-area_publications {
    width: 40%;
    margin-left: 30%;
}
.form-area_comment {
    width: 70%;
    margin-left: 15%;
}
.comment-area_comment {
    width: 50%;
    margin-left: 25%;
}

.form-area_upload-area {
    width: 30%;
    height: 15vh;
    margin: 0 auto;
    padding: 3%;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 15px;
    display: block;
}
.upload-area_image img{
    height: auto;
    margin: auto;
    border-radius: 10px;
    display: inline-block;
    margin-top: 7vh;
}